# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
.vscode/*

# Distribution / packaging
*.egg-info/*
build
dist/
gradec/_version.py

*.DS_Store
/temp

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Sphinx documentation
docs/_build/
docs/generated/
docs/modules/
docs/auto_examples/

examples/decoding
examples/neuromaps